appdirs==1.4.3
attrs==18.2.0
black==18.9b0
boto3==1.9.105
botocore==1.12.105
certifi==2018.11.29
chardet==3.0.4
Click==7.0
defusedxml==0.5.0
Django==2.0.2
django-allauth==0.38.0
django-cors-headers==2.4.0
django-debug-toolbar==1.11
django-environ==0.4.5
django-filter==2.0.0
django-oauth-toolkit==1.2.0
django-rest-auth==0.9.3
django-unixtimestampfield==0.3.9
djangorestframework==3.9.0
djangorestframework-jwt==1.11.0
docutils==0.14
drf-extensions==0.4.0
gunicorn==19.9.0
idna==2.8
jmespath==0.9.4
Markdown==3.0.1
oauthlib==3.0.0
Pillow==5.4.0
psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
PyJWT==1.7.1
python-dateutil==2.8.0
python3-openid==3.1.0
pytz==2018.7
requests==2.21.0
requests-oauthlib==1.2.0
s3transfer==0.2.0
six==1.12.0
sqlparse==0.2.4
toml==0.10.0
urllib3==1.24.1
